html {
  font-size: 26px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h4 {
  font-family: 'Open Sans', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  font-family: 'Raleway', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}
